*{
    box-sizing: content-box;
}
body {
    font-family: sans-serif;
    color: white;
}

html {
  scroll-behavior: smooth;
}

.bg {
    /* The image used */
    background-image: url("cover.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    }

hr{
    width: 50%;
    text-align:left;
    margin-left: 0px;
    height: 5px;
    color: yellow;
    background-color: white;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-style: italic;
}

.profile_sun{
    position: relative;
    width:40%;
    height: 550px;
    margin: 30px 30% ;
    margin-bottom: 30px;
}
.profile_pic{
    position: absolute;
    width: 90%;
    margin: 5%;
    border-radius: 100%;
}
.profile_pic:hover{
    
    box-shadow: -7px 7px rgba(255, 255, 255, 0.7);

}
.profile_centre{
    position: absolute;
    width: 50%;
    margin-top: 25%;
    margin-left: 26%;
}
.profile_centre:hover{
    border-radius: 100%;
    box-shadow: -7px 7px rgba(14, 13, 13, 0.75);

}
.top_left_menu{
    transform:rotate(-33deg);
    color: white;
    position: absolute;
    top: 20%;
    left:22%;


}
.top_right_menu{
    transform:rotate(33deg);
    color: white;
    position: absolute;
    top: 20%;
    left:66%;
}

.bottom_left_menu{
    transform:rotate(55deg);
    color: white;
    position: absolute;
    bottom: 33%;
    left:6%;

}
.bottom_right_menu{
    transform:rotate(-60deg);
    color: white;
    position: absolute;
    bottom: 35%;
    right:9%;

}
.bottom_menu{
    color: white;
    position: absolute;
    bottom: 12%;
    right:37%;


}
.pro_menu{
    font-size: 20px;
}

.resume{
    margin-left: 46%;
    margin-top: 70px;
    margin-bottom: 60px;
    position: relative;
    height: 150px;
    width:8%;
    background-color: rgba(228, 243, 151, 0.9);
    
    border-radius: 7%;
}
.resume:hover{
    border-radius: 5%;
    background-color: rgba(238, 248, 187, 0.9);
    box-shadow: -3px 3px rgba(255, 231, 14, 0.8);

}

.resume_logo{
    position: absolute;
    width:100px;
    margin-left: 10px;
    margin-top: 10px;
    margin-left: 5%;
}

.sub_sections{
    width: 70%;
    margin-left: 3%;
    margin-top: 50px;
}

.sec_head{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
}


.sub_sec{
    margin-top: 15px;
    background-color: rgba(31, 101, 230, 0.95);
    padding: 1% 2%;
    border-radius: 10px;
    display: flex;
}


.sub_head{
    font-size: 20px;
    margin-bottom: 1%;
    font-weight: 550;
}
.sub_head a{
    font-weight: bold;
}

.skill_logo{
    width:30%;
    height: 30%;
    border-radius: 100%;
    margin-left: 35%;
}
.skill_logo:hover{
    box-shadow: -3px 3px rgba(14, 13, 13, 0.75);
}
.skill_block{
    float: left;
    width: 31%;
    margin-left: 1%;
}
.skill_name{
    text-align: center;
}




