body {
    font-family: sans-serif;
}


.bg {
    /* The image used */
    background-image: url("cover.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    }
.profile_sun{
    position: relative;
    width:40%;
    height: 550px;
    margin: 100px 400px ;
}

.profile_pic{
    position: absolute;
    width: 90%;
    margin: 5%;
}
.profile_pic:hover{
    border-radius: 100%;
    box-shadow: -7px 7px rgba(255, 255, 255, 0.8);

}

.top_left_menu{
    transform:rotate(-33deg);
    color: white;
    position: absolute;
    top: 18%;
    left:25%;


}

.top_right_menu{
    transform:rotate(33deg);
    color: white;
    position: absolute;
    top: 20%;
    left:70%;
}

.bottom_left_menu{
    transform:rotate(55deg);
    color: white;
    position: absolute;
    bottom: 30%;
    left:10%;

}
.bottom_right_menu{
    transform:rotate(-60deg);
    color: white;
    position: absolute;
    bottom: 37%;
    right:10%;

}

.bottom_menu{
    color: white;
    position: absolute;
    bottom: 10%;
    right:40%;


}