*{
    box-sizing: content-box;
}
body {
    font-family: sans-serif;
    color: white;
}

html {
  scroll-behavior: smooth;
}

.bg {
    /* The image used */
    background-image: url("images/cover.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    }

hr{
    width: 50%;
    text-align:left;
    margin-left: 0px;
    height: 5px;
    color: yellow;
    background-color: white;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-style: italic;
}

.email_link{
    position: fixed;
    transform:rotate(90deg);
    right: -4%;
    bottom: 30%;
    display: flex;
    color: rgb(12, 14, 2);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 13px;
    border-radius: 20px;

}
.email_link:hover{
    background-color: rgba(255, 255, 255, 1.0);
}


.socials_block{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 5%;
    bottom: 55%;
    width: 2%;
    
}

.email_link a{
    font-style: normal;
}

.icon{
    border-radius: 50%;
    padding: 10px 10px 8px 10px;
    margin: 10px;
    width:90%;
    margin-left: 5%;
    background-color: rgba(240, 241, 235, 0.9); 
    filter: opacity(90%) brightness(90%);
}

.icon:hover{
    filter: opacity(100%) brightness(100%);
}


.go_up{
    bottom: 20px;
    right: 4%;
    z-index: 99;
    position: fixed;
    padding: 3px;
    width: 3%;
    border-radius: 50%;
    background-color: rgb(240, 241, 234);
    filter: opacity(90%) brightness(90%);
}

.go_up:hover{
    filter: opacity(100%) brightness(100%);
}


.profile_sun{
    position: relative;
    width:40%;
    height: 600px;
    margin: 30px 30% ;
    margin-bottom: 30px;
}
.profile_pic{
    position: absolute;
    width: 90%;
    margin: 5%;
    border-radius: 100%;
}
.profile_pic:hover{
    
    box-shadow: -7px 7px rgba(255, 255, 255, 0.7);

}
.profile_centre{
    position: absolute;
    width: 50%;
    margin-top: 25%;
    margin-left: 26%;
}
.profile_centre:hover{
    border-radius: 100%;
    box-shadow: -7px 7px rgba(14, 13, 13, 0.75);

}
.top_left_menu{
    transform:rotate(-33deg);
    color: rgb(14, 13, 13);
    position: absolute;
    top: 20%;
    left:22%;


}
.top_right_menu{
    transform:rotate(33deg);
    color: rgb(14, 13, 13);
    position: absolute;
    top: 20%;
    left:66%;
}

.bottom_left_menu{
    transform:rotate(56deg);
    color: rgb(14, 13, 13);
    position: absolute;
    bottom: 35%;
    left:4%;

}
.bottom_right_menu{
    transform:rotate(-60deg);
    color: rgb(14, 13, 13);
    position: absolute;
    bottom: 37%;
    right:8%;

}
.bottom_menu{
    color: rgb(14, 13, 13);
    position: absolute;
    bottom: 12%;
    right:35%;
    
}
.pro_menu{
    font-size: 24px;
}
.personal_info{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30%;
    width: 40%;
    margin-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    background: rgba(24, 83, 194, 0.95);
    text-align: center;
    font-weight: 600;
    padding: 10px;

}
.name_card{
    width: 70%;
    padding-top: 20px;
}

.my_name{
    font-size: 45px;
    font-family: 'Expletus Sans', cursive;
    margin-bottom: 10px;
}
.college,.branch{
    font-size: 26px;
    margin-bottom: 5px;
}
.year{
    font-size: 20px;
    margin-bottom: 5px;
}
.resume{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    width:25%;
    background-color: rgba(228, 243, 151, 0.9);
    border-radius: 10%;
}
.info_card{
    float: left;
}
.resume:hover{
    border-radius: 10%;
    background-color: rgba(238, 248, 187, 0.9);
    box-shadow: -5px 5px rgba(3, 32, 87, 0.8);

}

.resume_logo{
    width:70%;
    margin-top: 17px;
}

.sub_sections{
    width: 70%;
    margin-left: 15%;
    margin-top: 50px;
}

.sec_head{
    font-size: 35px;
    font-family: 'Expletus Sans', cursive;
    font-style: normal;
    font-weight: bold;
}


.sub_sec{
    margin-top: 15px;
    background-color: rgba(24, 83, 194, 0.95);
    padding: 1% 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.sub_head{
    font-size: 20px;
    margin-bottom: 1%;
    font-weight: 550;
}
.sub_head a{
    font-weight: bold;
}

.sub_desc,.sub_demo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.skill_logo{
    width:40%;
    height: auto;
    border-radius: 100%;
    margin-left: 30%;
    margin-right: 30%;
}
.skill_logo:hover{
    box-shadow: -3px 3px rgba(14, 13, 13, 0.75);
}
.more,.tech_used{
    display: flex;
    flex-wrap: wrap;
}
.skill_block{
    width: 19%;
    margin-left: 1%;
    padding-top: 10px;
}
.skill_name , .cert_name,.project_name{
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

.cert_name, .project_name{
    color: black;
    margin: 5px 3px;
    padding: 1px 1px;
}

.project_name{
    font-size: 24px;
}

.cert_block{
    width: 19%;
    margin-left: 1%;
    padding-top: 20px;
    background-color: rgba(245, 247, 235, 0.8);
    border-radius: 10px;
    padding-bottom: 10px;
}

.cert_block:hover,.project_block:hover{
    box-shadow: -5px 5px rgba(14, 13, 13, 0.75);
}

.cert_img{
    width:90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 7px;
    border-color: black;
}

.project_block{
    width: 47%;
    margin-left: 3%;
    margin-bottom: 20px;
    padding-top: 20px;
    background-color: rgba(245, 247, 235, 0.8);
    border-radius: 10px;
    padding-bottom: 10px;

}

.project_img,.project_video{
    width:90%;
    height: 300px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 7px;
    border-color: black;
}

.project_video iframe{
    width: 100%;
    height: 300px;
}

.tech_block{
    margin-left: 5%;
}

.tech_used{
    float: left;
    border-radius: 5px;
    background-color: rgba(25, 27, 31, 0.8);
    color: rgb(240, 241, 234);
    margin: 5px 3px;
    padding: 4px 6px;
    text-align: center;
    font-weight: bold;
    width:auto;
}

.project_desc{
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(25, 26, 24);
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.codebase{
    border-radius: 10px;
    width: 20%;
    margin-left: 75%;
    bottom:10px;
    filter: brightness(110%);
}

.codebase:hover{
    box-shadow: -3px 3px rgba(14, 13, 13, 0.75);
}